<div class="position-absolute start-50 translate-middle-x" style="margin-top: 90px; width: 400px">
  <div>
    <form method="POST">
      <div class="form-control">
        <h1 style="padding-left: auto" class="mb-2">Log in!</h1>

        <div class="form-group">
          <div class="form-control mb-3">
            <label for="username" class="mb-1">Username:</label>
            <input id="username" class="form-control mb-2" placeholder="Username" type="text" name="username"
              required />

            <label for="password" class="mb-1">Password:</label>
            <input id="password" class="form-control mb-2" placeholder="password" type="password" name="password"
              required />
          </div>
        </div>

        <input type="submit" class="btn btn-dark mb-2" value="Log in" />
        <p class="mt-2">No account? <a href="/sign-up">Sign up</a></p>
      </div>
    </form>
  </div>

  <% if (typeof errors !=='undefined' ) { %>
    <ul>
      <% errors.forEach(function(error) { %>
        <li>
          <%= error.msg %>
        </li>
        <% }); %>
    </ul>
    <% } %>
</div>